<ion-view title="My plants">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">Pull to refresh</ion-refresher>
    <ion-list>
      <ion-item class="item-thumbnail-left item" ng-repeat="plant in plants" href="#/app/plants/{{playlist.id}}">
        <img class="list-image" src="img/{{plant.imageUrl}}">
        <h2>{{plant.name}}</h2>
        <p>{{plant.type}}</p>
        <i ng-show={{plant.actionList.length}} class="ion-ios7-bell-outline alert"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
