<div>
    <div class="row" style="word-wrap: break-word">
        <div class="small-12 columns">
            <h5>Nearby places where you can buy fertilizers for you plants.</h5>
            <ul class="">
                <a href="http://greensad.com.ua">
                    <li>
                        greensad.com.ua
                    </li>
                </a>
                <a href="http://absolut-sad.com.ua">
                <li>
                    absolut-sad.com.ua
                </li>
                </a>
                <a href="http://mariupol.zakupka.com">
                <li>
                    mariupol.zakupka.com
                </li>
                </a>
                <a href="http://7sotok.uaprom.net">
                <li>
                    7sotok.uaprom.net
                </li>
                </a>
            </ul>
        </div>
    </div>
    <button class='button-action modal-dismiss'>Thanks</button>
</div>


