<div class="row">
    <div class="small-12 columns">
        <h4>Мої ділянки</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul>
            <% for(var i=0; i<models.length; i++) {%>
            <li id="<%= models[i].id %>">
                <div class="row">
                    <div class="small-2 columns">
                        <img class="location-img" src="images/garden<%= i+1 %>.jpg"/>
                    </div>
                    <div class="small-10 columns">
                        <p class="location-title"><%= models[i].name %></p>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>
