<div class="row">
    <div class="small-12 columns">
        <h4>Мої ділянки</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul>
            <% for(var i=0; i<models.length; i++) {%>
            <a href="#location/<%= models[i].id %>">
                <li class="location" id="<%= models[i].id %>">
                    <div class="row">
                        <div class="small-5 medium-2 large-2 columns">
                            <img class="location-img" src="images/garden<%= i+1 %>.jpg"/>
                        </div>
                        <div class="small-7 medium-10 large-10 columns">
                            <p class="location-title"><%= models[i].name %></p>
                        </div>
                    </div>
                </li>
                <% } %>
            </a>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 columns text-right">
        <a href="#location/add" class="button button-action add-location">Додати ділянку</a>
    </div>
</div>