<div class="row">
    <div class="small-11 columns">
        <h4>Додати ділянку</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <input type="text" placeholder="Моя ділянка"/>
    </div>
    <div class="small-12 columns text-right">
        <button class="button-action scan">Сканувати ділянку</button>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="loader" hidden></div>
    </div>
</div>