<div class="row">
    <div class="small-12 columns">
        <h4>Мої ділянки</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul>
            <li>
                Ділянка №1
            </li>
            <li>
                Ділянка №2
            </li>
            <li>
                Ділянка №3
            </li>
        </ul>
    </div>
</div>
