<div class="row">
    <div class="small-7 medium-10 large-10 columns">
        <h4>My Ficus</h4>
        <span class="subtitle">Ficus</span>
    </div>
    <div class="small-5 medium-2 large-2 columns text-right">
        <img class="location-img" style="margin-bottom:10px" src="images/ficus.jpg"/>
    </div>
</div>
<div class="row plant-container">
    <div class="medium-6 small-12 columns">
        <div class="row">
            <h5>Actions</h5>
            <div class="actions">
                <div class="action pour">
                    <i class="fa fa-warning"></i>
                    <span class="message">You need to pour your plant!</span>
                </div>
                <div class="action fertilize">
                    <i class="fa fa-warning"></i>
                    <span class="message">You need to fertilize your plant!</span>
                </div>
                <div class="action cut">
                    <i class="fa fa-warning"></i>
                    <span class="message">You need to cut your plant!</span>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <h5>History</h5>
        </div> -->
    </div>
    <div class="medium-6 small-12 columns">
            <h5>Guide</h5>
            <div class="guide">
                1 Place your ficus tree in a location with full light. Ideally, it should receive 12 to 13 hours of sun every day.
                Ficus trees don't do well with only indoor lighting. If you don't get enough natural light in your location, or if you need a supplemental light source during the winter, purchase a plant light and use it, on a timer, to ensure your ficus gets sufficient light.
            </div>
    </div>
</div>