<div class="row">
    <div class="small-12 columns">
        <h4>My Ficus</h4>
        <span class="subtitle">Ficus</span>
    </div>
</div>
<div class="row plant-container">
    <div class="medium-6 small-12 columns">
        <div class="row">
            <h5>Actions</h5>
            <div class="actions">
                <div class="action pour">
                    <span class="message">You need to pour your plant!</span>
                    <i class="fa fa-warning"></i>
                </div>
                <div class="action fertilize">
                    <span class="message">You need to fertilize your plant!</span>
                    <i class="fa fa-warning"></i>
                </div>
                <div class="action cut">
                    <span class="message">You need to cut your plant!</span>
                    <i class="fa fa-warning"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <h5>History</h5>
            <div class="actions">
            </div>
        </div>
    </div>
    <div class="medium-6 small-12 columns">
        <h5>Guide</h5>
        <div class="guide">
            1 Place your ficus tree in a location with full light. Ideally, it should receive 12 to 13 hours of sun every day.
Ficus trees don't do well with only indoor lighting. If you don't get enough natural light in your location, or if you need a supplemental light source during the winter, purchase a plant light and use it, on a timer, to ensure your ficus gets sufficient light.

2 Remove yellowed, dead leaves from the ficus tree as you see them. This allows adequate sunlight to penetrate the growth to the remaining leaves.
Snip off dry, dead twigs for the same reason.
Ficus trees are notorious for dropping their leaves, sometimes over a span of months, when you place them in a new environment. All you can do is give the ficus consistent, appropriate care and pick up the fallen leaves to discourage pests. If your ficus is receiving adequate light and indoor temperatures, and you're watering correctly, the leaf-drop will eventually stop and the tree will generate healthy new growth.
Pruning isn't strictly necessary for a ficus tree. However, if it starts to grow out of control, prune each weak branch back to the intersection with a thriving branch (instead of leaving stubs). Some latex dripping from the cuts is normal; if you suspect you might be allergic to the dripping latex, wear gloves for protection.

3. Water the ficus thoroughly, and then wait for the top 2 inches of soil to dry out before you water again.
Stick your finger down into the soil to check dryness/dampness before you water. If the ficus' soil is allowed to dry out completely, it'll drop its leaves.

        </div>
    </div>
</div>