<div class="row">
    <div class="small-12 columns">
        <h4>My plants</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul>
            <% for(var i=0; i<models.length-1; i++) {%>
            <a href="#plants/<%= models[i].id %>">
                <li class="location">
                    <div class="row">
                        <div class="small-5 medium-2 large-2 columns">
                            <img class="location-img" src="images/<%= models[i].imageUrl %>"/>
                        </div>
                        <div class="small-7 medium-10 large-10 columns">
                            <span class="location-title"><%= models[i].name %></span>
                            <span class="subtitle"><%= models[i].type %></span>
                        </div>
                    </div>
                </li>
            </a>
            <% } %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 columns text-right">
        <a href="" class="button button-action add-location">Add plant</a>
    </div>
</div>