<div class="row profile-top">
    <div class="small-12 medium-2 columns user-info">
        <div class="small-12 columns"><img src="" alt="" class="avatar"></div>
        <div class="row"><h4><%= user.name %></h4></div>
    </div>
    <div class="small-12 medium-9 text-left columns user-email">
        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= user.email %>">
    </div>
</div>
<div class="row achievements">
    <h4>Achievements:</h4>
    <ul class="small-block-grid-2 medium-block-grid-5 list">
        <% for(var i=0; i<user.achievements.length; i++) {%>
            <li class="achievement">
                <img src="/images/badge_<%= user.achievements[i] %>.svg" alt="" />
                <span class="name"><%= user.achievements[i] %></span>
            </li>
        <% } %>
    </ul>
</div>
