@charset "UTF-8";

@import "settings";
@import "foundation/scss/normalize";

// Include some Foundation components
// You can see complete component list in bower_components/foundation/scss/foundation.scss
@import
    "foundation/scss/foundation/components/block-grid",
    "foundation/scss/foundation/components/grid",
    "foundation/scss/foundation/components/tables",
    "foundation/scss/foundation/components/reveal",
    "foundation/scss/foundation/components/buttons",
    "foundation/scss/foundation/components/type",
    "foundation/scss/foundation/components/forms",
    "foundation/scss/foundation/components/tabs",
    "foundation/scss/foundation/components/alert-boxes";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}

header {
    background: $mainColor;
    height: 50px;
    padding: 10px 0px;
    color: #fff;
    font-size: 20px;
}

section {
    margin-top:20px;
}

