@charset "UTF-8";

@import "settings";
@import "foundation/scss/normalize";

// Include some Foundation components
// You can see complete component list in bower_components/foundation/scss/foundation.scss
@import
    "foundation/scss/foundation/components/block-grid",
    "foundation/scss/foundation/components/grid",
    "foundation/scss/foundation/components/tables",
    "foundation/scss/foundation/components/reveal",
    "foundation/scss/foundation/components/buttons",
    "foundation/scss/foundation/components/type",
    "foundation/scss/foundation/components/forms",
    "foundation/scss/foundation/components/tabs",
    "foundation/scss/foundation/components/alert-boxes";

body {
    background-color: white;
    padding: 0;
    margin: 0;
}

header {
    background: $mainColor;
    height: 50px;
    padding: 10px 0px;
    color: #fff;
    font-size: 26px;
}

section {
    margin-top:20px;
}

img {
    margin-top: -1px;
}

h4 {
}

.container {
    padding: 10px;
}

ul {
    list-style: none;
    li{
        padding: 10px;
        border-top: 1px solid gainsboro;
        &:last-child {
            border-bottom: 1px solid gainsboro;
        };
    }
}