@charset "UTF-8";

@import "settings";
@import "foundation/scss/normalize";

@import "foundation";

.loader {
    background-image: url(../images/ajax-loader.gif);
    width: rem-calc(64);
    height: rem-calc(64);
    margin: rem-calc(30) auto;
}

.back-button {
    border: solid 1px #8d8d8d;
    position: relative;
    display: block;
    height:42px;
    width:42px;
    margin: 0 auto;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;

    i {
        color: #8d8d8d;
        position: absolute;
        left: 13px;
        top: 3px;
        font-size: 31px;
    }

    &:hover {
        border-color: #8d8d8d;
        i {
            color: #8d8d8d;
        }
    }
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
}

header {
    background: $mainColor;
    height: 50px;
    padding: 10px 0px;
    color: #fff;
    font-size: 26px;
}

section {
    margin-top:20px;
}

img {
    margin-top: -1px;
}

h4 {
}

.container {
    padding: 10px;
}

ul {
    list-style: none;
    li{
        padding: 10px;
        border-top: 1px solid gainsboro;
    }

    &:last-child {
        border-bottom: 1px solid gainsboro;
    }

    margin-left:0;
}

.location-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid gainsboro;
    transition: border-color 0.2s ease;
}

.location {
    cursor: pointer;
    &:hover {
        .location-img {
            border: 2px solid $mainColor;
        }

        .location-title {
            color: $mainColor;
        }

        .subtitle {
            color: $mainColor;
        }
    }
}

.location-title {
    margin-top:10px;
    font-size: 20px;
    transition: color 0.2s ease;
    float: left;
}

a {
    color: #222;
}

.button-action {
    @include button($button-med, $mainColor);
}

/* Location view */
.location-property {
    .value p {
        margin: 0;
    }
}

.plant i {
    float: right;
    font-size: 24px;
}

.subtitle {
    font-style: italic;
    color: #8d8d8d;
    float: left;
    clear:left;
}

.plant-container {
    border-top: 1px solid gainsboro;
}

.actions {
    overflow: hidden;
}

.action {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease-in;

    &.dismiss {
        transform: translate3d(100%,0,0);
    }

    i {
        margin-right:30px;
    }

    &.pour {
        border: 1px solid $info-color;
        background: lighten( $info-color, 1% );
        opacity: 0.8;
        color: #fff;

         &:hover {
            background: darken( $info-color, 10%  );
        };
    }

    &.fertilize {
        border: 1px solid $warning-color;
        background: lighten( $warning-color, 1% );
        opacity: 0.8;
        color: #fff;

        &:hover {
            background: darken( $warning-color, 10%  );
        };
    }

    &.cut {
        border: 1px solid $alert-color;
        background: lighten( $alert-color, 1% );
        opacity: 0.8;
        color: #fff;

        &:hover {
            background: darken( $alert-color, 10%  );
        };
    }
}
