<div class="content-block">
    <div class="profile-image"></div>
</div>

<div class="list-block">
    <ul>
        <li class="item-content">
            <div class="iterm-inner">
                <div class="item-title">
                    <strong>Name: </strong> {{name}}
                </div>
            </div>
        </li>
        <li class="item-content">
            <div class="iterm-inner">
                <div class="item-title">
                    <strong>Email: </strong> {{email}}
                </div>
            </div>
        </li>
    </ul>
</div>
